<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    
</head>
<body>
<div class="container-fluid">
<h1 style="text-align: center;">Sistema de control de horarios</h1>
<div class="row">
    <div class="col">
        <div class="card bg-light mb-3">
            <div class="card-header">Modulos </div>
            <div class="card-body">
                <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Inicio</th>
                        <th scope="col">Fin</th>
                        <th scope="col">-</th>
                        <th scope="col">-</th>
                    </tr>
                </thead>
                <tbody>
                    {%for modulo in modulos %}
                    <tr>
                        <td scope="row">{{modulo.0}}</td>
                        <td>{{ modulo.1}}</td>
                        <td>{{ modulo.2}}</td>
                        <td>
                        <form action="/delete_modulo" method="POST">
                            <input type="hidden" name="id" value="{{modulo.0}}">
                            <button class="btn btn-danger">borrar</button>
                        </form>
                        </td>
                        <td>
                            <form action="/modificar_modulo" method="POST">
                                <input type="hidden" name="id" value="{{modulo.0}}">
                                <input type="hidden" name="ini" value="{{modulo.1}}">
                                <input type="hidden" name="fin" value="{{modulo.2}}">
                                <button class="btn btn-primary">modificar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
            <div class="card-footer">
                
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-light mb-3">
            <div class="card-header">Agregar modulos </div>
            <div class="card-body">
                <form action="/insert_modulo" method="POST">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Inicio</label>
                      <input type="time" class="form-control" name="ini" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Fin</label>
                        <input type="time" class="form-control" name="fin" required>
                      </div>
                    <div class="form-group" style="text-align: right;">
                        <button type="submit" class="btn btn-primary">Agregar</button>
                    </div>
                    
                  </form>
            </div>
            <div class="card-footer">
                
            </div>
        </div>
        
    </div>
</div>

</div>
</body>
</html>